attrs==24.2.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==43.0.3
idna==3.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pyOpenSSL==24.2.1
pyTelegramBotAPI==4.23.0
requests==2.32.3
service-identity==24.2.0
telebot==0.0.5
TelegramBotAPI==0.3.2
urllib3==2.2.3
